httpx<0.28
opencc
packaging
prompt_toolkit
PyYAML
re_edge_gpt
Requests
tenacity
tiktoken
tqdm
colorlog
gradio
yt-dlp
pysrt
bilibili-dl
PyQt-Fluent-Widgets
pyinstaller
openai
fastapi
uvicorn[standard]
python-multipart
transformers
torch
librosa
pydantic
faster-whisper